<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_style.css' %}">
     
</head>
<body>
    <div class="header_container">
        <img class="logo" src="{% static 'image/logo_.png' %}"  onclick="location.href='{% url 'Mainapp:cu_main'  %}'"/>
        <a class = "profile_name">(로그아웃)</a>
        <span class = "profile_name">김상담님 반갑습니다 </span>
    </div>
    
    
    <div class="flex-container">
        <div class="menu-container">
            <div class="cu-container">
                <div style="width:80px;height:80px;float:left;">
                    <a href="../co_board">
                        <img src="{% static 'image/img_co.png' %}" width="90">
                    </a>
                </div>
            </div>
            <div class="co-container">
                <div style="width:80px;height:80px;float:left;margin-right:60px">
                    <a href="../cu_board">
                        <img src="{% static 'image/img_cu.png' %}" width="90">
                    </a>
                </div>
            </div>
            <div class="search-container">
                <input type="text" placeholder="이름을 검색하세요.">
                <button class="search-button" style="border:none;background-color:transparent;margin-left:4%;">
                    <img src="{% static 'image/img_search.png' %}" width="40" position: absolute;>
                </button>
            </div>
        </div>

        <div class="info-container">
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>위험한 호랑이</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_co.png' %}">
                    <p>호랑이 상담사</p>
                </div>
                <div class="move-container" onclick="location.href='../cudetail'">
                    <img src="{% static 'image/img_cu.png' %}">
                    <p>어지러운 호랑이</p>
                </div>
            </div>
    </div>
</body>
</html>