<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_style.css' %}">
     
</head>
<body>
    <div class="header_container">
        <img class="logo" src="{% static 'image/logo_.png' %}" onclick="location.href='{% url 'Homeapp:home_type' request.session.co_type%}'" />
        <a class = "profile_name" style="margin-right:3.99%;" href="{% url 'Homeapp:logout' request.session.co_type %}">(로그아웃)</a>
        <span class = "profile_name">{{request.session.co_name}}님 반갑습니다 </span>
    </div>
    
    
    <div class="flex-container">
        <div class="menu-container">

            {%if type == 'co'%}

            <div class="cu-container">
                <div style="width:80px;height:80px;float:left;">                   
                        <img style="width: 100%;" src="{% static 'image/img_co.png' %}" onclick="location.href='{% url 'Boardapp:board' 'co' %}'">
                </div>
            </div>
            <div class="co-container">
                <div style="width:80px;height:80px;float:left;margin-right:30px">                   
                        <img style="width:100%;" src="{% static 'image/img_cu_black.png' %}" onclick="location.href='{% url 'Boardapp:board' 'cu' %}'">
                </div>
            </div>

            <form action="{% url 'Boardapp:search_board' 'co'%}" method="POST" class="search-container">
                {% csrf_token %}
            <div class="search-container1">
                <input type="text" placeholder="이름을 검색하세요." name="q" ">
                <button class="search-button" style="border:none;background-color:transparent;width: 20%;height: 50%;" type="summit">
                    <img class='search-img' src="{% static 'image/img_search.png' %}">
                </button>
            </div>
        </form>

            {%else%}

            <div class="cu-container">
                <div style="width:80px;height:80px;float:left;">                   
                        <img style="width:100%;" src="{% static 'image/img_co_black.png' %}" onclick="location.href='{% url 'Boardapp:board' 'co' %}'">
                </div>
            </div>
            <div class="co-container">
                <div style="width:80px;height:80px;float:left;margin-right:30px">
                        <img style="width: 100%;" src="{% static 'image/img_cu.png' %}" onclick="location.href='{% url 'Boardapp:board' 'cu' %}'">
                </div>
            </div>
            <form action="{% url 'Boardapp:search_board' 'cu'%}" method="POST" class="search-container">
                {% csrf_token %}
            <div class="search-container1">
                <input type="text" placeholder="이름을 검색하세요." name="q" >
                <button class="search-button" style="border:none;background-color:transparent;width: 20%;height: 50%;" type="summit">
                    <img class='search-img' src="{% static 'image/img_search.png' %}">
                </button>
            </div>
            </form>


            {%endif%}




            
        </div>

        <div class="info-container">
            <div class="flex-container1">

                {% for user in users%}

                {% if type == 'co'%}

                    <div class="move-container" onclick="location.href='{% url 'Boardapp:co_detail' user.co_id %}'">
                        {% if user.profile%}
                            <img src="/static/image/profile/{{user.profile}}">
                        {%else%}
                            <img src="{% static 'image/img_co.png' %}">
                        {%endif%}
                        <p>{{user.name}}</p>
                    </div>
                {% else %}

                    <div class="move-container" onclick="location.href='{% url 'Boardapp:cu_detail' user.cu_id %}'">
                        {% if user.profile%}
                            <img src="/static/image/profile/{{user.profile}}">
                        {%else%}
                            <img src="{% static 'image/img_cu.png' %}">
                        {%endif%}
                        <p>{{user.name}}</p>
                    </div>

                {% endif %}

                
                {%endfor%}


            </div>
    </div>
</body>
</html>