<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_codetail_style.css' %}">
     
</head>
<body>
    
    <div class="header_container">
        <img class="logo" src="{% static 'image/logo_.png' %}"  onclick="location.href='{% url 'Mainapp:cu_main'  %}'"/>
        <a class = "profile_name" href="{% url 'Homeapp:logout' %}">(로그아웃)</a>
        <span class = "profile_name">{{request.session.user_name}}님 반갑습니다 </span>
    </div>

    <div class="flex-container">
        <div class="counselor-container">
            <div class="profile-container">
                <div class="photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-phonenumber-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-star-container">
                        <div class="counselor-star-title">상담 별점</div>
                        <div class="counselor-star">5점</div>
                    </div>
                    <div class="counselor-count-container">
                        <div class="counselor-count-title">상담 횟수</div>
                        <div class="counselor-count">5번</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="customer-info-container">
            <div class="customer-container">
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>강가영</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="related-profile-container"> 
                    <div class="related-photo-container">
                        <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                        <div class="cuname"><p>발랄한 호랑이</p></div>
                    </div>
                    <div class="cuinfo-container">
                        <div class="customer-basic-info-container">
                            <div class="customer-phonenumber-title">고객 번호</div>
                            <div class="customer-phonenumber">010-1234-5678</div>
                        </div>
                        <div class="counselor-record-container">
                            <div class="counselor-record-title">상담 이력</div>
                            <div class="counselor-record-list">
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                                <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <button id="back_btn" type="button" onclick="location.href='/Board/co_board'"><img id="backphoto" src="/static/image/img_back.png" alt=""></button>
        </div>  
    </div>
</body>
</html>