<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_codetail_style.css' %}">
     
</head>
<body>
    
    <div class="header_container">
        <img class="logo" src="{% static 'image/logo_.png' %}" onclick="location.href='{% url 'Mainapp:co_main' %}'" />
        <a class = "profile_name" href="{% url 'Homeapp:logout' request.session.co_type %}">(로그아웃)</a>
        <span class = "profile_name">{{request.session.co_name}}님 반갑습니다 </span>
    </div>

    <div class="flex-container">
        <div class="counselor-container">
            <div class="profile-container">
                <div class="photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>{{user.name}} 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-phonenumber-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">{{user.phone}}</div>
                    </div>
                    <div class="counselor-star-container">
                        <div class="counselor-star-title">상담 별점</div>
                        <div class="counselor-star">{{avg_point}}점</div>
                    </div>
                    <div class="counselor-count-container">
                        <div class="counselor-count-title">상담 횟수</div>
                        <div class="counselor-count">{{call_cnt}}번</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="customer-info-container">
            <div class="customer-container">
                
                {% for key, value in user_call.items %}
                    <div class="related-profile-container" onclick="location.href='{% url 'Boardapp:cu_detail' key.cu_id %}'"> 
                        <div class="related-photo-container">
                            <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                            <div class="cuname"><p>{{key.name}}</p></div>
                        </div>
                        <div class="cuinfo-container">
                            <div class="customer-basic-info-container">
                                <div class="customer-phonenumber-title">고객 번호</div>
                                <div class="customer-phonenumber">{{key.phone}}</div>
                            </div>
                            
                            <div class="counselor-record-container">
                                <div class="counselor-record-title">상담 이력</div>
                                <div class="counselor-record-list">
                                    {% for call in value %}
                                        <div class="couselor-record">{{call.call_date}} {{call.title}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}

           </div>
            <button id="back_btn" type="button" onclick="location.href='{% url 'Boardapp:board' 'co' %}'"><img id="backphoto" src="/static/image/img_back.png" alt=""></button>
          
        
        </div>  
    </div>
</body>
</html>