<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_style.css' %}">
     
</head>

<body>
    <div class="flex-container">
        
        <div class="flex-container1">
            <div style="width:80px;height:80px;float:left;margin-right:20px">
                <a href="../coboard">
                    <img src="{% static 'image/img_co.png' %}" width="100">
                </a>
            </div>
            <div style="width:80px;height:80px;float:left;margin-right:30px">
                <a href="../cuboard">
                    <img src="{% static 'image/img_cu_black.png' %}" width="100">
                </a>
            </div>
            <div class="search-box">
            </div>
        </div>
        <div class="flex-container1">
            <div class="info-box"></div>
            <div class="info-box"></div>
            <div class="info-box"></div>
        </div>
        <div class="flex-container1">
            <div class="info-box"></div>
            <div class="info-box"></div>
            <div class="info-box"></div>
        </div>
    </div>
</body>
</html>