<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_cudetail_style.css' %}">
     
</head>
<body>

    <div class="header_container">
        <img class="logo" src="{% static 'image/logo_.png' %}"  onclick="location.href='{% url 'Mainapp:cu_main'  %}'"/>
        <a class = "profile_name">(로그아웃)</a>
        <span class = "profile_name">김상담님 반갑습니다 </span>
    </div>
    
    <div class="flex-container">
        <div class="customer-container">
            <div class="profile-container">
                <div class="photo-container">
                    <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                    <div class="cuname"><p>발랄한 호랑이님</p></div>
                </div>
                <div class="cuinfo-container">
                    <div class="customer-phonenumber-container">
                        <div class="customer-phonenumber-title">고객 번호</div>
                        <div class="customer-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="customer-count-container">
                        <div class="customer-count-title">상담 횟수</div>
                        <div class="customer-count">5번</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counselor-container">
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-basic-info-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-date-container">
                            <div class="counselor-date-title">상담 날짜</div>
                            <div class="counselor-date">2022/04/14</div>
                        </div>
                        <div class="counselor-category-container">
                            <div class="counselor-category-title">상담 주제</div>
                            <div class="counselor-category">와이파이건</div>
                        </div>
                        <div class="counselor-content-container">
                            <div class="counselor-content-title">상담 내용</div>
                            <div class="counselor-content">와이파이 불량으로 인한 인터넷 연결 불안정</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-basic-info-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-date-container">
                            <div class="counselor-date-title">상담 날짜</div>
                            <div class="counselor-date">2022/04/14</div>
                        </div>
                        <div class="counselor-category-container">
                            <div class="counselor-category-title">상담 주제</div>
                            <div class="counselor-category">와이파이건</div>
                        </div>
                        <div class="counselor-content-container">
                            <div class="counselor-content-title">상담 내용</div>
                            <div class="counselor-content">와이파이 불량으로 인한 인터넷 연결 불안정</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-basic-info-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-date-container">
                            <div class="counselor-date-title">상담 날짜</div>
                            <div class="counselor-date">2022/04/14</div>
                        </div>
                        <div class="counselor-category-container">
                            <div class="counselor-category-title">상담 주제</div>
                            <div class="counselor-category">와이파이건</div>
                        </div>
                        <div class="counselor-content-container">
                            <div class="counselor-content-title">상담 내용</div>
                            <div class="counselor-content">와이파이 불량으로 인한 인터넷 연결 불안정</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-basic-info-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-date-container">
                            <div class="counselor-date-title">상담 날짜</div>
                            <div class="counselor-date">2022/04/14</div>
                        </div>
                        <div class="counselor-category-container">
                            <div class="counselor-category-title">상담 주제</div>
                            <div class="counselor-category">와이파이건</div>
                        </div>
                        <div class="counselor-content-container">
                            <div class="counselor-content-title">상담 내용</div>
                            <div class="counselor-content">와이파이 불량으로 인한 인터넷 연결 불안정</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-basic-info-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-date-container">
                            <div class="counselor-date-title">상담 날짜</div>
                            <div class="counselor-date">2022/04/14</div>
                        </div>
                        <div class="counselor-category-container">
                            <div class="counselor-category-title">상담 주제</div>
                            <div class="counselor-category">와이파이건</div>
                        </div>
                        <div class="counselor-content-container">
                            <div class="counselor-content-title">상담 내용</div>
                            <div class="counselor-content">와이파이 불량으로 인한 인터넷 연결 불안정</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="coname"><p>김미영 상담사</p></div>
                </div>
                <div class="coinfo-container">
                    <div class="counselor-basic-info-container">
                        <div class="counselor-phonenumber-title">상담사 번호</div>
                        <div class="counselor-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-date-container">
                            <div class="counselor-date-title">상담 날짜</div>
                            <div class="counselor-date">2022/04/14</div>
                        </div>
                        <div class="counselor-category-container">
                            <div class="counselor-category-title">상담 주제</div>
                            <div class="counselor-category">와이파이건</div>
                        </div>
                        <div class="counselor-content-container">
                            <div class="counselor-content-title">상담 내용</div>
                            <div class="counselor-content">와이파이 불량으로 인한 인터넷 연결 불안정</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>