<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_detail_style.css' %}">
     
</head>
<body>
    
    <div class="flex-container">
        <div class="profile-container"></div>
        <div class="codetail-container"> 
            <div class="related-profile-container"></div>
            <div class="star-container"></div>
            <div class="customer-container"></div>
        </div>  
        <div class="codetail-container">
            <div class="related-profile-container"></div>
            <div class="star-container"></div>
            <div class="customer-container"></div>
        </div>  
    </div>
</body>
</html>