<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/board/board_cudetail_style.css' %}">
     
</head>
<body>
    
    <div class="flex-container">
        <div class="customer-container">
            <div class="profile-container">
                <div class="photo-container">
                    <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                    <div class="cuname"><p>발랄한 호랑이님</p></div>
                </div>
                <div class="cuinfo-container">
                    <div class="customer-phonenumber">
                        <p>고객 번호</p>
                        <p>010-1234-5678</p>
                    </div>
              
                    <div class="counselor-count">
                        <p>상담 횟수</p>
                        <p>5번</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="counselor-container">
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cophoto" src="/static/image/img_cu.png" alt="프로필 사진">
                    <div class="coname"><p>발랄한 호랑이</p></div>
                </div>
                <div class="cuinfo-container">
                    <div class="customer-basic-info-container">
                        <div class="customer-phonenumber-title">상담사 번호</div>
                        <div class="customer-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-record-title">상담 주제</div>
                        <div class="counselor-record-list">
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>