{% load static %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">

<div style="text-align: center">
    <img class="logo" src="{% static 'image/img_logo.png' %}"/>
</div>
<div class="container">
    <div class="row">
        <div style="text-align: center">
            <div class="col">
                <img src="{% static 'image/img_name.png' %}"/>
            </div>
            <div class="col">
                <button class="button" onclick="window.open('../signin', '로그인', 'width=400, height=350, location=no, status=no, scrollbars=yes');">로그인</button>
            </div>
            <div class="col">
                <button class="button" onclick="location.href='../role'">회원가입</button>
            </div>
        </div>
    </div>
</div>