{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/role.css' %}"/>

<header class="header">
    <img src="{% static 'image/img_logo.png' %}" style="height:50; float:left" onclick="location.href='/Home/home'"/>
    <img src="{% static 'image/img_name.png' %}" style="height:50; float:left" onclick="location.href='/Home/home'"/>
</header>
<div style="text-align: center; float: bottom">
    <div class="main_text">회원 선택</div>
</div>
<div style="text-align: center">
    <div class="select" style="padding-left: 20%; padding-right: 10%" onclick="location.href='../signup'">
        <div class="button">
            <div class="text">고객</div>
            <img class="image" src="{% static 'image/img_cu.png' %}"/>
        </div>
    </div>
    <div class="select" style="padding-left: 10%; padding-right: 20%" onclick="location.href='../signup'">
        <div class="button">
            <div class="text">상담사</div>
            <img class="image" src="{% static 'image/img_co.png' %}"/>
        </div>
    </div>
</div>