{% load static %}
<link rel="stylesheet" href="{% static 'css/bar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/home/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/home/role.css' %}"/>

<div class="header_container">
    <img class="logo" src="{% static 'image/logo_.png' %}"  onclick="location.href='{% url 'Homeapp:home'  %}'"/>
</div>
<div class="main_div">
    <div class="main_text">회원 선택</div>
</div>
<div class="select_div">

        <div class="image_leftBtn select">
            <div class="button" onclick="location.href='{% url 'Homeapp:signups' 'cu'%}'">
                <img id="image" src="{% static 'image/img_cu.png' %}"/>
                <div class="text">고객</div>                
            </div>
        </div>

        <div class="image_rightBtn select">
            <div class="button" onclick="location.href='{% url 'Homeapp:signups' 'co'%}'">
                <img id="image" src="{% static 'image/img_co.png' %}"/>
                <div class="text">상담사</div>
            </div>
        </div>

</div>

<script type="text/javascript">
    function result(data) {
        document.getElementById("result").value = data;
        document.forms["send"].submit();
    }
</script>