{% load static %}
<link rel="stylesheet" href="{% static 'css/home/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/home/signin.css' %}"/>
<link rel="stylesheet" href="{% static 'css/bar.css' %}"/>

<header class="header">
    <img id="img_Left" src="{% static 'image/img_logo.png' %}" onclick="location.href='/Home/home'"/>
    <img id="img_Left" src="{% static 'image/img_name.png' %}" onclick="location.href='/Home/home'"/>
</header>
<div class="container container_setting">
    <div class="row">
        <div class="form_div">
            <form  id="send" action="." method="post" onsubmit="return false;">
                <div class="col">
                    <div class="textArea">
                        <div class="text">아이디</div>
                        <input class="input" type="text" id="id"/>
                    </div>
                </div>
                <div class="col">
                    <div class="textArea">
                        <div class="text">비밀번호</div>
                        <input class="input" class="password" type="password" id="pw"/>
                    </div>
                </div>
                <div class="col" style="margin-top: 40px">
                    <button class="button" onclick="result()">로그인</button>                    
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function result() {
        var id = document.getElementById("id").value;
        var pw = document.getElementById("pw").value;
        if(id == "") {
            alert("아이디를 입력하세요.");
        } else if(pw == "") {
            alert("비밀번호를 입력하세요.");
        } else {
            //document.forms["send"].action = "/Main/cu_main";
            document.forms["send"].submit();            
            self.close();
        }
    }
</script>