{% load static %}
<link rel="stylesheet" href="{% static 'css/home/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/home/signup.css' %}"/>
<link rel="stylesheet" href="{% static 'css/bar.css' %}"/>

<header class="header">
    <img id="img_Left" src="{% static 'image/img_logo.png' %}" onclick="location.href='/Home/home'"/>
    <img id="img_Left" src="{% static 'image/img_name.png' %}" onclick="location.href='/Home/home'"/>
</header>
<div class="background">
    <div class="container bg_invisible">
        {% if type == "co" %}
            <div class="main_text">상담사 회원가입</div>
        {%else%}
            <div class="main_text">고객 회원가입</div>
        {%endif%}


        <form class="bg_invisible" id="send" action="{% url 'Homeapp:signup' %}" method="post" onsubmit="return false;">
            {% csrf_token %}
            <div class="form-container"> 
                
                {% if type == "co" %}
                <div class="photo-container">
                    <div class="photo">
                        <img id="cophoto" src="/static/image/img_co.png" alt="프로필 사진">
                    </div>
                    <div class="upload_form">
                        <input type="file" name="profile"
                        id="last_name" onchange="imageView(this)">
                    </div>
                </div>
                {%else%}
                <div class="photo-container">
                    <div class="photo">
                        <img id="cophoto" src="/static/image/img_cu.png" alt="프로필 사진">
                    </div>
                    <div class="upload_form">
                        <input type="file" name="profile"
                        id="last_name" onchange="imageView(this)">
                    </div>
                </div>
                {%endif%}


                <div class="input-container">
                    <div class="row bg_invisible">
                        <input type="hidden" id="type" name="type" value="{{type}}"/>
                        
                        <div class="col">
                            <div class="text">아이디</div>
                            <input class="input" type="text" id="id" name="id"/>
                        </div>

                        <div class="col">
                            <div class="text">비밀번호</div>
                            <input class="input" type="password" id="pw" name="pw" />
                        </div>
                        <div class="col">
                            <div class="text">비밀번호 확인</div>
                            <input class="input" type="password" id="pw_c" name="pw_c" />
                        </div>
                        <div class="col bg_invisible">
                            <div class="check_pw bg_invisible" id="check">비밀번호가 일치하지 않습니다.</div>
                        </div>
                        <div class="col">
                            <div class="text">이름</div>
                            <input class="input" type="text" id="name" name="name" />
                        </div>
                        <div class="col">
                            <div class="text">전화번호</div>
                            <input class="input" type="text" id="phone" name="phone" />
                        </div>
                        {% if type == "co" %}
                        <div class="col">
                            <div class="text">카테고리</div>
                            <div class="category-container">
                                <input type="radio" id="type" name="category" value="WIFI" checked class="radio">
                                    WIFI
                                <input type="radio" id="type" name="category" value="핸드폰" class="radio">
                                    핸드폰
                                <input type="radio" id="type" name="category" value="가입" class="radio">
                                    가입
                            </div>
                        </div>
                        {% endif %}
                        <div class="div_confirm">
                            <input class="confirm" type="submit" value="회원 등록" onclick="result()"/>
                        </div>
                    </div>
        
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    const pw = document.getElementById("pw");
    const pw2 = document.getElementById("pw_c");
    const check = document.getElementById("check");
    pw.addEventListener("keyup", cp);
    pw2.addEventListener("keyup", cp);
    function cp() {
        if(pw.value != pw2.value) {
            check.style.color = "red";
        } else if(pw.value == "" || pw2.value == "") {
            check.style.color = "red";
        } else {
            check.style.color = "#00000000";
        }
    }
    function result() {
        if(document.getElementById("id").value == "") {
            alert("아이디를 입력하세요.");
            return false;
        } else if(document.getElementById("pw").value == "") {
            alert("비밀번호를 입력하세요.");
            return false;
        } else if(check.style.color == 'red') {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        } else if(document.getElementById("name").value == "") {
            alert("이름을 입력하세요.");
            return false;
        } else if(document.getElementById("phone").value == "") {
            alert("전화번호를 입력하세요.");
            return false;
        } else if(document.getElementById("type").value == "co") {
            if(document.getElementById("category").value == "") {
                alert("카테고리를 입력하세요.");
                return false;
            }
        }
        alert("등록되었습니다.");
        document.forms["send"].submit();
        
    }
</script>