<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/main/co_call_style.css' %}">
     
</head>
<body>
    <div class="flex-container">
        <div class="manual-container">
            <div class="note">
                <p>
                    첫 인사 및 용건 확인<br>
                    - 전화벨이 울리면, 벨이 3회 이상 울리기 전에 빨리 수화기를 든다.<br>
                    - 고객에게 인사를 한 후 소속과 성명을 밝힌다. <br>주의<br> ✔ 부득이하게 전화를 늦게 받았다면 반드시 양해를 구한다. <br>▢✔ 상대방이 알아듣기 좋은 속도의 발음으로 친절하게 말한다.<br>
                    - 고객에게 용건을 물어본다.<br> ◦ 상담 및 전화 연결
                    - 고객의 말을 경청하면서 적절하게 답변하고, 공감을 표현한다. <br>▢✔ 단답형 답변보다는 고객을 배려하는 표현을 쓴다. 주의
                    - 중요하거나 잊어버리기 쉬운 내용은 메모한다.<br>
                    - 어려운 용어나 절차 등은 이해하기 쉽게 풀어서 설명한다.<br>
                   - 7 -
                   ▢✔ 고객의 말을 끝까지 경청한 후 답변한다. 주의<br>
                    - 업무 담당자에게 전화를 연결해줄 경우 업무 담당자의 성명, 전화번호(타부서인 경우
                    부서까지)를 먼저 설명하고 연결해준다. ▢✔ 전화 연결도중 전화가 끊어지지 않도록 주의한다. ▢✔ 연결 받을 담당자가 어느 부서, 누구인지 미리 확인한 후 연결한다. ▢✔ 전화가 연결되지 않아 다시 전화가 온 경우 고객에게 양해를 구하고, 담당자가 고객에게 직접
                    전화를 걸 수 있도록 고객의 전화번호를 확인하여 담당자에게 알려준다.
                   주의<br>
                   상담 종료 후 끝인사<br>
                    - 상담이 끝난 후에 추가적으로 필요한 사항은 없는지 물어본다.<br>
                    - “감사합니다!” 등 공손한 끝인사 후 전화를 끊는다. <br>▢✔ 고객의 말이 끝나기 전에 먼저 전화를 끊지 않도록 주의한다.</p>
            </div>
        </div>
        <div class="customer-couselor-container"> 
            <div class="related-profile-container"> 
                <div class="related-photo-container">
                    <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
                    <div class="cuname"><p>발랄한 호랑이</p></div>
                </div>
                <div class="cuinfo-container">
                    <div class="customer-basic-info-container">
                        <div class="customer-phonenumber-title">고객 번호</div>
                        <div class="customer-phonenumber">010-1234-5678</div>
                    </div>
                    <div class="counselor-record-container">
                        <div class="counselor-record-title">상담 이력</div>
                        <div class="counselor-record-list">
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                            <div class="couselor-record">2022/04/12. 김보연. 00건에 대해서 요청</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="couselor-container"> 
                <div class="related-photo-container">
                    <img id="cuphoto" src="/static/image/img_co.png" alt="프로필 사진">
                    <div class="cuname"><p>김상담</p></div>
                </div>
                <div class="cuinfo-container">
                    <div class="category-container">
                        <div class="category-title">카테고리</div>
                        <select class="content-category" name="카테고리" required="required" size="1">
                            <option value="와이파이">와이파이</option>
                            <option value="핸드폰">핸드폰</option>
                            <option value="가입">가입</option>
                        </select>
                    </div>
                    <div class="content-container">
                        <div class="content-title">제목</div>
                        <p><input name="상담제목" type="text" class="content-title-name"/></p> 
                    </div>
                    <p><textarea name="상담내용" class="content"></textarea></p>
                    <button id="onoff_btn" type="button">저장</button>
                </div>
            </div>
        </div> 
    </div>
</body>