<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/main/comain_style.css' %}">
     
</head>
<body>
    <img id="logoimg" src="/static/image/img_logo.png">
    <div id="Butter_Voice">
        <span>Butter Voice</span>
    </div>
    <div class="n_13">
        <button id='onoff_btn' type="button">ON</button>
        <div id="Text">
            <span>김상담</span>
        </div>
        <img id="coimg" src="/static/image/img_co.png">
    </div>

    <div id="Today">
        <span>Today : 1004</span>
    </div>
    
    <div class="customer-container">
        <div class="related-profile-container"> 
            <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
            <div class="cuname"><p>발랄한 호랑이님</p></div>
            <input type = "image" src = "/static/image/yes_call.png" id="call">
        </div>
        <div class="related-profile-container"> 
            <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
            <div class="cuname"><p>발랄한 호랑이님</p></div>
        </div>
        <div class="related-profile-container"> 
            <img id="cuphoto" src="/static/image/img_cu.png" alt="프로필 사진">
            <div class="cuname"><p>발랄한 호랑이님</p></div>
        </div>
    </div> 
    
</body>
</html>