<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/main/co_main_style.css' %}">
     
</head>

<body>

    <div class="header_container">
        <img class="logo" src="{% static 'image/logo_.png' %}" onclick="location.href='{% url 'Homeapp:home_type' request.session.co_type%}'" />
        <a class = "profile_name" style="margin-right:3.53%;" href="{% url 'Homeapp:logout' request.session.co_type %}">(로그아웃)</a>
        <span class = "profile_name">{{request.session.co_name}}님 반갑습니다 </span>
    </div>

    <div class="flex-container_col">
                <div id="calling" class = "flex-container1">
                    <div class="calling-container">
                        <div class="today_container">
                            <div class = "today_container_title">Today:</div>
                                <div class="today_number">{{today_call}}명</div> 
                        </div>

                        {% if first_call %}
                        <div class="info-box" >           
                            <img id="cu_photo" class="image" src="{% static 'image/img_cu.png' %}"/>
                            <h1 class = "cu_name">{{first_call.cu_name}} 님</h1>            
                            <img class="cu_call" src="{% static 'image/long_call.png' %}" onclick="location.href='{% url 'Mainapp:co_call' first_call.c_no %}'"/>
                        </div>
                        {% else %}
                        <div class="info-box" >           
                            <img id="cu_photo" class="image" src="{% static 'image/img_cu.png' %}"/> 
                        </div>

                        {% endif %}


                    </div>
                    <div class="waiting-container">
                        <div class="waiting-info-container">
                            <div class = "waiting_conatiner_title">대기자:</div>
                                <div class="waiting_number">{{call_len}}명</div>
                        </div>
                        <div class = "cu_box">
                            <div class = "col">
                                {%for call in wait_call %}
                                    <div class = "cucall_box">
                                        <div class="row">
                                            <img class="cu_img"  src="{% static 'image/img_cu.png' %}"/>
                                            <div class="call_name">{{call.cu_name}} 님</div>            
                                            <img  id="cu_stop" src="{% static 'image/cu_call.png' %}" />
                                        </div>
                                    </div>
                                {% endfor %}
                                    
                            
                            </div>
                        </div>  
                    </div>
                    <button id="back_btn" type="button" onclick="location.href='{% url 'Boardapp:board' 'co' %}'"><img id="backphoto" src="/static/image/board.png" alt=""></button>
                           
                </div>  
        </div>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            setInterval(function() {
                $("#calling").load(location.href + ' #calling');
                console.log("zzz")
            }, 1000); // <-- time in milliseconds
        </script>
</body>
</html>