<html>
{% load static %}
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담사 메인페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <div id="n_1920__1" style="transform-origin: 0px 0px;">
        <svg class="n_5">
            <rect id="n_5" rx="103" ry="103" x="0" y="0" width="1573" height="318">
            </rect>
        </svg>
        <svg class="n_12">
            <rect id="n_12" rx="103" ry="103" x="0" y="0" width="1573" height="318">
            </rect>
        </svg>
        <img id="premium-icon-profile-4675250" src="premium-icon-profile-4675250.png" srcset="premium-icon-profile-4675250.png 1x, premium-icon-profile-4675250@2x.png 2x">
            
        <img id="premium-icon-profile-4675250_y" src="premium-icon-profile-4675250_y.png" srcset="premium-icon-profile-4675250_y.png 1x, premium-icon-profile-4675250_y@2x.png 2x">
            
        <img id="premium-icon-profile-4675250_y" src="premium-icon-profile-4675250_y.png" srcset="premium-icon-profile-4675250_y.png 1x, premium-icon-profile-4675250_y@2x.png 2x">
            
        <img id="premium-icon-profile-4675250_y" src="premium-icon-profile-4675250_y.png" srcset="premium-icon-profile-4675250_y.png 1x, premium-icon-profile-4675250_y@2x.png 2x">
            
        <div id="Today_10004">
            <span>Today: 1004</span>
        </div>
        <div id="n__">
            <span>발랄한 호랑이 님</span>
        </div>
        <div id="n___">
            <span>발랄한 호랑이 님</span>
        </div>
        <img id="emojipngcom-1049230" src="/static/image/yes_call.png">

        <img id="emojipngcom-1049230_" src="emojipngcom-1049230_.png" srcset="emojipngcom-1049230_.png 1x, emojipngcom-1049230_@2x.png 2x">
            
        <img id="free-icon-customer-agent-27981" src="free-icon-customer-agent-27981.png" srcset="free-icon-customer-agent-27981.png 1x, free-icon-customer-agent-27981@2x.png 2x">
            
        <div id="Butter_Voice">
            <span>Butter Voice</span>
        </div>
        <div id="Text">
            <span>김상담</span>
        </div>
        <img id="Rectangle" src="Rectangle.png" srcset="Rectangle.png 1x, Rectangle@2x.png 2x">
            
        <svg class="n_13">
            <rect id="n_13" rx="37.5" ry="37.5" x="0" y="0" width="117" height="75">
            </rect>
        </svg>
        <div id="ON">
            <span>ON</span>
        </div>
    </div>
    
    </body></html>