<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/main/cu_style.css' %}">
     
</head>

<body>
    <div class="header_container"> 

        <img class="logo" src="{% static 'image/logo_.png' %}"  onclick="location.href='{% url 'Mainapp:cu_main'  %}'"/>
        <a class = "profile_name" href="{% url 'Homeapp:logout' request.session.cu_type  %}">(로그아웃)</a>
        <span class = "profile_name">{{request.session.cu_name}}님 반갑습니다 </span>
    </div>
    

    <div class="flex-container">

        

        
        <div class="category_container">
            
            <a class="category_text">  #WIFI  </a>
            <a  class="category_text">  #핸드폰 </a>
            <a  class="category_text">  #가입 </a>
           
          </div>
     
        


            {% comment %} <div class="flex-container1">

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='/Main/cu_call'"/>
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='/Main/cu_call'"/>
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='/Main/cu_call'"/>
                        </div>
                       
                    </div>
                    
                </div>

            </div> {% endcomment %}
     
        


            <div class="flex-container1">

            {% for co in total_co %}

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">{{co.name}} 상담사</h2>
                            
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='{% url 'Mainapp:cu_call' co.co_id co.category%}'"/>
                        </div>
                       
                    </div>
                </div>   
            {%endfor%}

            </div>
                    
                


{% comment %} 

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='/Main/cu_call'"/>
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='/Main/cu_call'"/>
                        </div>
                       
                    </div>
                    
                </div>
            </div> {% endcomment %}


  
        
    </div>
</body>
</html>