<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/main/cu_style.css' %}">
     
</head>

<body>
    <div class="header_container">
        <img class="cu_logo" src="{% static 'image/logo_.png' %}" onclick="location.href='{% url 'Homeapp:home' %}'" />
        <a class = "profile_name" style="margin-right:3.5%;" href="{% url 'Homeapp:logout' request.session.cu_type %}">(로그아웃)</a>
        <span class = "profile_name">{{request.session.cu_name}}님 반갑습니다 </span>
    </div>
    

    <div class="flex-container">

        

        
        <div class="category_container">
            
            <a class="category_text">  #WIFI  </a>
            <a  class="category_text">  #핸드폰 </a>
            <a  class="category_text">  #가입 </a>
           
          </div>


            <div class="info-container">
                <div class="flex-container1">
                    {% for co in total_co %}

                        <div class="move-container">
                            <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                            <div class="profile-container_col">
                                <h2 class="comain_name">{{co.name}} 상담사</h2>
                                
                                <img class="yes_call" src="{% static 'image/yes_call.png' %}" onclick="location.href='{% url 'Mainapp:cu_call' co.co_id co.category%}'"/>
                            </div>
                            
                        </div>
                    
                    {%endfor%}
                </div>
            </div>
                    
        
    </div>
</body>
</html>