<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ButterVoice</title>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/main/cu_style.css' %}">
     
</head>

<body>
    <div class="flex-container">
        
     



            <div class="flex-container1">

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" />
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" />
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" />
                        </div>
                       
                    </div>
                    
                </div>

            </div>





            <div class="flex-container1">

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" />
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" />
                        </div>
                       
                    </div>
                    
                </div>

                <div class="cuinfo-box">
                    <div class="profile-container">
                        <img class="comain_image" src="{% static 'image/img_co.png' %}" />
                        <div class="profile-container_col">
                            <h2 class="comain_name">호랑이 상담사</h2>
                            <img class="yes_call" src="{% static 'image/yes_call.png' %}" />
                        </div>
                       
                    </div>
                    
                </div>

            </div>


  
        
    </div>
</body>
</html>