.userName {
    width: justify;
    font-size: 20px;
    color: white;
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #00000000;
}

.logout {
    float: right;
    margin-top: 15px; 
    margin-left: 10px;
    background-color: #00000000;
}

.rightDiv {
    float: right;
    width: 50%;
    background-color: #00000000;
}

#img_left {
    height:50;
    float:left;
    background-color: #00000000;
}

#img_Right {
    height:50;
    margin-left: 20px;
    float: right;
    background-color: #00000000;
}