.mediaViewInfo {
    --web-view-name: 웹 1920 – 1;
    --web-view-id: n_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: n_1920__1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#n_1920__1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(49,49,49,1);
    overflow: hidden;
    --web-view-name: 웹 1920 – 1;
    --web-view-id: n_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#n_5 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_5 {
    position: absolute;
    overflow: visible;
    width: 1573px;
    height: 318px;
    left: 169px;
    top: 305px;
}
#n_12 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_12 {
    position: absolute;
    overflow: visible;
    width: 1573px;
    height: 318px;
    left: 178px;
    top: 657px;
}
#premium-icon-profile-4675250 {
    position: absolute;
    width: 231px;
    height: 231px;
    left: 364px;
    top: 349px;
    overflow: visible;
}
#premium-icon-profile-4675250_y {
    position: absolute;
    width: 231px;
    height: 231px;
    left: 364px;
    top: 701px;
    overflow: visible;
}
#premium-icon-profile-4675250_y {
    position: absolute;
    width: 231px;
    height: 231px;
    left: 364px;
    top: 701px;
    overflow: visible;
}
#premium-icon-profile-4675250_y {
    position: absolute;
    width: 231px;
    height: 231px;
    left: 364px;
    top: 701px;
    overflow: visible;
}
#Today_10004 {
    left: 630px;
    top: 108px;
    position: absolute;
    overflow: visible;
    width: 661px;
    white-space: nowrap;
    text-align: center;
    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 106px;
    color: rgba(255,255,255,1);
}
#n__ {
    left: 645px;
    top: 755px;
    position: absolute;
    overflow: visible;
    width: 529px;
    white-space: nowrap;
    text-align: center;
    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(0,0,0,1);
}
#n___ {
    left: 645px;
    top: 404px;
    position: absolute;
    overflow: visible;
    width: 529px;
    white-space: nowrap;
    text-align: center;
    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(0,0,0,1);
}
#emojipngcom-1049230 {
    position: absolute;
    width: 224px;
    height: 226px;
    left: 1369px;
    top: 349px;
    overflow: visible;
}
#emojipngcom-1049230_ {
    position: absolute;
    width: 224px;
    height: 226px;
    left: 1369px;
    top: 701px;
    overflow: visible;
}
#free-icon-customer-agent-27981 {
    position: absolute;
    width: 225px;
    height: 225px;
    left: 1639px;
    top: 0px;
    overflow: visible;
}
#Butter_Voice {
    left: 247px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 259px;
    white-space: nowrap;
    text-align: center;
    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(254,254,254,1);
}
#Text {
    left: 1486px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 205px;
    white-space: nowrap;
    text-align: center;
    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    color: rgba(254,254,254,1);
}
#Rectangle {
    position: absolute;
    width: 225px;
    height: 225px;
    left: 27px;
    top: 0px;
    overflow: visible;
}
#n_13 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_13 {
    position: absolute;
    overflow: visible;
    width: 117px;
    height: 75px;
    left: 1364px;
    top: 57px;
}
#ON {
    left: 1377px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    text-align: center;
    font-family: Cafe24 Ssurround;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(0,0,0,1);
}