@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cafe24Ssurround';
    font-size: large;
    margin:0;
    padding:0;
}

body{
    background-color: #313131;
    overflow: hidden;
}

.flex-container{ 
    width: 100%; 
    height: 100%; 
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; /* 수평 정렬 */
} 

/* 메뉴얼 */
.manual-container{
    left: 0px;
    background-color: white;
    border-radius: 40px;
<<<<<<< HEAD
    width: 40%;
    height: 50%;
    margin-left: 20px;
}

.note {
    height: 545px;
    margin-left: 3%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-top: 1%;

    overflow-y: overlay;  
=======

    width: 35%;
    height: 30%;
    margin-left: 10px;
    margin-top: 60px;
    overflow-y: overlay;

>>>>>>> 5d7de3b3b81a41d5cd4b129a6908776687e64f3a
}

.note::-webkit-scrollbar {
    display: none;
}

.font-margin {
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* 고객, 상담사 컨테이너 */
.customer-couselor-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20%;
}

/* 고객 정보 */
.related-profile-container{
    right: 0px;
    background-color: white;
    border-radius: 40px;
    width: 90%;
    height: 170px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;    
}

.related-photo-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cuphoto{
    width: 100px;
    height: 100px;
}
.cuname{
    margin-top: 2%;
}
.cuinfo-container{
    width: 60%;
    height: 30%;
    display: flex; 
    flex-direction: column;

}
.customer-basic-info-container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 2%;
}
.customer-phonenumber-title{
    margin-top: 3%;
    
}
.customer-phonenumber{
    margin-top: 3%;
    margin-left: 5%;
}
.counselor-record-container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.counselor-record-title{
    width: 85px;
    height: 100px;
    margin-top: 3%;
}
.counselor-record-list{
    height: 100px;
    width: 300px; 
    margin-top: 12px;
    margin-left: 3%;

    overflow-y: overlay;   
}

.couselor-record{
   font-size: 15px;
}

/* 상담 내용 */
.couselor-container{
    right: 0px;
    background-color: white;
    border-radius: 40px;
    width: 90%;
    height: 350px;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: row; 
}

.category-container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 2%;
}

.category-title{
    margin-top: 3%;
}

.content-category{
    margin-top: 2%;
    margin-left: 5%;
}

.content-container{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 2%;
}

.content-title{
    width: 85px;
    height: 30px;
}

.content-title-name{
    width: 300px;
    display: flex;
}

.content{
    width: 450px;
    height: 170px;
    display: flex;
}

#save_btn {
    top: 57px;
    width: 80px;
    font-size: 20px;
    margin-left: 90%;
    color: rgba(0,0,0,1);
    border-radius: 15px;
    background-color: rgba(254,254,254,1);
    margin-top: 2%;
}

.header_container {  
    flex-direction: row;  
    margin-top: 1%;
/*     
    display: flex;
    justify-content: space-between;
    align-items: center; */
  }
 
.logo {
    width: 304px;
    margin-left: 38px;
    float: left;
}

.profile_name {
    font-size: large;
    color: white;
    display: inline-block;
    float: right;
    margin-top: 1%;
    margin-right: 15px;
}

.logout {
    font-size: large;
    color: white;
    display: inline-block;
    float: right;
    margin-top: 1%;
    margin-right: 23.5px;
}


.mic {
    width: 60px;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 355px
}