@font-face {
    font-family: 'GimpoGothicRegular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GimpoGothicRegular00';
    overflow: hidden;
    
}
body{
    background-color: #313131;
    overflow: hi;
}

.flex-container_col{ 
    width: 100%; 
    height: 90%; 
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 
    flex-direction: column;
  
} 
.flex-container{ 
    width: 100%; 
    height: 100%; 
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; /* 수평 정렬 */
} 
.flex-container1{
    width: 100%; 
    height: 30%;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: flex; 
    flex-direction: column;

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */

    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; /* 수평 정렬 */
    flex-direction: row;

    margin-top: 30px;
}

/* call */
.calling-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.today_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 10%;
}

.today_container_title {
    margin-top: 2%;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(254,254,254,1);
}

.today_number {
    margin-top: 2%;
    margin-left: 3%;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(254,254,254,1);
}

/* waiting */
.waiting-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.waiting-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.waiting_conatiner_title {
    margin-top: 2%;
    white-space: nowrap;
    font-family: 'Cafe24 Ssurround';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(254,254,254,1);
}

.waiting_number {
    margin-top: 2%;
    margin-left: 3%;
    white-space: nowrap;
    font-family: 'Cafe24 Ssurround';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(254,254,254,1);
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cu_box{
    width: 600px;
    height: 700px;
    border-radius: 40px;
    margin-top: 2%;
    overflow-y: auto;
}
.cu_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.cucall_box{
    background-color: white;
    width: 73%;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 2.5%;
}


.info-box{
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 40px;

    margin-top: 2%;
    margin-bottom: 42%;
}

#cu_photo {
    width: 20%;
    margin-top: 60px;
    align-items: center;
    padding-left: 40%;
}

.cu_name {
    margin-top: 10%;
    text-align: center;
}


.cu_call {
    width: 80%;
    height: 20%;
    margin-top: 8%;
    margin-left: 10%;
}

.cu_img {
    width: 17%;
    margin-top: 2.5%;
    
}

#cu_stop{
    width: 80px;
    height: 80px;
    margin-top: 2.5%;
}

.call_name {
    margin-top: 8%;
    font-weight: bold;
    font-size: 30px;
}

  /* header css */
.header_container {  
    flex-direction: row;  
    margin-top: 1%;
}
 
.logo {
    margin-top: 0.45%;
    width: 20%;
    margin-left: 3.5%;
    margin-right: 45%;
}

.profile_name {
    font-size: large;
    color: white;
    display: inline-block;
    float: right;
    margin-top: 2.5%;
    margin-right: 1%;
}

.logout {
    font-size: large;
    color: white;
    display: inline-block;
    
    margin-top: 2%;
    margin-left: 55%;
}