.image {
    width: 30%;
    margin-top: 50px;
}


.text {
    font-size: 30px;
    margin-top: 100px;
    padding-top: 20%;
    color: black;
}

.main_text {
    font-size: 50px;
    margin-top: 100px;
}

.select {
    text-align: center;
    width: 20%;
    float: left;
}

.button {
    height: 45%;
    border-radius: 30px;
    background-color: white;
}