.background {
    border-radius: 30px;
    width: 60%;
    height: 74%;
    margin-top: 4%;
    margin-left: 23%;
    margin-right: 5%;

  
    width: 90%;
    max-width: 800px;
    max-height: 900px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.7);
    text-align: center;
}
.form-container{
    display: flex;
    flex-direction: row;
    margin-top: 2%;

    width: 100%;
    height: 10px;
}
.category-container{
    display: flex;
    flex-direction: row;
    margin-top: 2%;

    color: white;
    width: 80%;
    height: 10px;
}
.photo-container{
 /* background-color: aqua; * */
    width: 40%;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}
.profile-container .photo-container > img{
    width: 150px;
    height: 150px;
    margin-top: 3%;
    margin-left: 3%;
    
}
.photo{
    background-color: #00000000;
}
#cophoto{
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-left: 20%;
    background-color: #00000000;
}

.upload_form{
    background-color: #00000000;
}
#last_name{
    width:300px;
    margin-top: 15px;
    margin-left: 30%;
    color: white;
    background-color: #00000000;
}
.input-container{
    width: 50%;
    height: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;

} 
.col {
    display: flex;
    flex-direction: row;
}
.bg_invisible {
    width: 100%;
    height: 20%;
    background-color: #00000000;
}

.container_width {
    width: 100%;
}

.main_text {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 20px;
    background-color: #00000000;
}

.text {
    width: 30%;
    text-align: right;
    font-size: 23px;
    padding-right: 3%;
    margin-top: 1%;
    color: white;
    background-color: #00000000;
    float: left;
}

.input {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    outline: none;
    color: #0d0d0d;
    font-size: 16px;
    font-family: "굴림";
    background-color: rgb(233, 233, 233);
    margin-bottom: 2%;
    text-align: center;

}

.col {
    padding-bottom: 2%;
    background-color: #00000000;
}

.confirm {
    width: 100%;
    font-size: 25px;
    border: 0;
    border-radius: 5px;
    padding-top: 15px;
    margin-left: 5%;
    outline: none;
    background-color: #6aafe6;
    color: white;
}

.confirm:hover {
    outline: none;
    background-color: #fce205;
    color: white;
}

.div_confirm {
    text-align: center;
    margin-top: 5%;
    margin-right: 65%;
    background-color: #00000000;
}

.check_pw {
    margin-left: 24%;
    margin-top: -10px;
    color: #00000000;
}

.radio{
    margin-left: 5%;
}

  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  