input {
    width: 70%;
    height: 30px;
    margin-left: 15px;
}

.button {
    border-radius: 10px;
    width: 30%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 20px;
}

.textArea {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.text {
    width: 20%;
    float: left;
}