@font-face {
    font-family: 'GimpoGothicRegular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #313131;
    font-family: 'GimpoGothicRegular00';
}

body {
    
    color: white;
}

header {
    height: 70px;
    position: sticky;
    top: 0;
    padding: 5px;
    
}